
@{
    ViewData["Title"] = "About";
}

<div class="container mt-4">

    <h2>About Us</h2>

 
    <div class="alert alert-info mt-3">
        We are a technology company providing consulting, training, and software products to help businesses grow.
    </div>


    <h4 class="mt-4">Our Key Areas</h4>

    <ul class="list-group">
        <li class="list-group-item">IT Consulting Services</li>
        <li class="list-group-item">Professional Training Programs</li>
        <li class="list-group-item">Enterprise Software Solutions</li>
        <li class="list-group-item">Productivity Tools</li>
    </ul>

</div>
